@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "sofia-pro", Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}
